@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

section,main {
  /* height: 100vh; */
  background-color: #485460;
}

.header {
  margin-top: 7.5rem;
  margin-bottom: 8rem;
  
}

.imagen-logo {
  width: 200px;
  height: 50px;
}

.nav-line {
  border-bottom: 1px solid rgb(102, 101, 101);
}

h2 {
  color: #d2dae2;
}

.card-body h5 {
  text-transform: uppercase;
}

/*Biography Section*/
.about-title {
  font-size: 2.7rem;
}
.about {
  letter-spacing: 1.5px;
 
}

.about-p {
  font-size: 1.2rem;
}

.bio-sub {
  font-size: 1.8rem;
}

/*Style for title*/

body {
  background: #111;
}

h3 {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 5px 8.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -4px;
}

/*Body - Scroll active - */


/* Style for the main part*/
main {
  letter-spacing: 1.3px;
}

main p {
  font-family: 'Roboto', sans-serif;
}

/*Footer image*/
.footer-img {
  height: 200px;
  width: 300px;
}

/*Media Queries*/
@media (max-width: 500px) {
  .size-font {
    font-size: 1.5rem;
  }
  .header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    
  }
}
